/**
 * Site footer
 */
.site-footer {
    padding: 10px 0;
}

.site-footer hr {margin: 0; border-color: $header-color; }

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom:0;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

h1 /* .post-title */ {
/*    font-size: 42px; */
    letter-spacing: -1px;
    line-height: 1;
		font-family: 'Titillium Web', sans-serif;
		color: $header-color;

    @include media-query($on-laptop) {
/*        font-size: 36px; */
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
		font-family: 'Titillium Web', sans-serif;
	    font-weight: 500;
        border-bottom: 1px solid black;
/*        font-size: 32px; */

        @include media-query($on-laptop) {
/*            font-size: 28px; */
        }
    }

    h3 {
		font-weight: bold;
        font-style: italic;
/*        font-size: 26px; */

        @include media-query($on-laptop) {
/*            font-size: 22px; */
        }
    }

    h4 {
/*       font-size: 20px; */
        font-weight: bold;
        @include media-query($on-laptop) {
/*            font-size: 18px; */
        }
    }
}

						.footnotes ol li {list-style-type:decimal;}
						.footnotes ol {font-size:.85em; color:#666666;}

html {
  overflow-y: scroll;
}

ul.listing {
	list-style-type: none;
	margin-left: 0px;
}

ul.listing li.listing-seperator {
	padding-top: 15px;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.17em;
}

ul.listing li.listing-item time {

	color: #333;
	font-weight: 500;
	text-transform: uppercase;
	padding-right: 10px;
}

ul.listing li.listing-item a {
	color: $header-color;
	font-weight: 400;
	font-family: 'Titillium Web', sans-serif;
}

ul.listing li.summary-item {
    background-color: $talk-color;
    padding-left: $spacing-unit/2;
    padding-right: $spacing-unit/2;
    border-radius: 10px;

    h2 {
        font-size: 1em;
        color: $header-color;
        font-family: sans-serif;
        padding-top: 3px;
        padding-bottom: 3px;

        a {color:$header-color;}

    }
}



.talks  {

    .meeting {padding-top: 3px;
    padding-bottom: 3px;
        background-color: $talk-color;
        padding-left: $spacing-unit/2;
        padding-right: $spacing-unit/2;
        border-radius: 10px;

    h1.theader {
      /* background-color: $header-color;
      padding: 3px $spacing-unit/2;
      color: $header-font-color; */
      font-size: 1.2em;
      color: black;
      font-family: sans-serif;
      border-bottom: 1px solid black;
      padding-top: 10px;
      padding-bottom: 3px;
        }

    h1.tdetails {
        font-size: 1.1em;
        font-style: italic;
        color: black;
        font-family: sans-serif;
        padding-top: 3px;
        padding-bottom: 3px;

    }


    h2 {
            font-size: 1em;
            font-weight: bold;
            border-bottom:0;
        }
    }
}

.papers {
    /* background-color: $talk-color; */
    padding-left: $spacing-unit/2;
    padding-right: $spacing-unit/2;
    border-radius: 10px;

    h2 {
            font-size: 1em;
            font-weight: bold;
            border-bottom: 1px solid black;
        }

    ol li {
        font-size: 0.8em;
        padding-bottom:3px;

        p {padding-bottom:0px;}
    }

    .author {font-weight: bold;}

}

.talk-title {
    font-weight: bold;
}
.talk-mtg {
    font-size: 0.8em;
}
